@import 'variables';

@font-face {
    font-family: 'CMWN';
    src: url($media-server + 'fonts/CMWN_Jade.eot'); /* IE9 Compat Modes */
    src: url($media-server + 'fonts/CMWN_Jade.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url($media-server + 'fonts/CMWN_Jade.woff') format('woff'), /* Modern Browsers */
    url($media-server + 'fonts/CMWN_Jade.ttf') format('truetype'), /* Safari, Android, iOS */
    url($media-server + 'fonts/CMWN_Jade.svg#4012903f3d164196860fdbc893b3e032') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: 400;
}

* {
    box-sizing: border-box;
}

html,
body,
body > div,
body > div > div {
    margin: 0;
    cursor: default;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    user-select: none;
    user-drag: none;
}

html {
    color: $brown;
    font-family: 'CMWN', 'Source Sans Pro', 'Helvetica Neue', Helvetica, sans-serif;
}

body > div > div {
    position: relative;
    margin: auto;
    width: 960px;
    height: 540px;
    font-size: 20px;

    .background {
        position: absolute;
        top: 0;
        left: 0;
        transition: opacity .5s;
        opacity: 0;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        width: 100%;
        height: 100%;
    }

    > div > .background {
        top: 50%;
        transform: translateY(-50%);
        max-width: 960px;
        max-height: 540px;
    }

    .background.default {
        opacity: 1;
        background-image: url('#{$image}bkg-1.png');
    }

    .background.excel {
        background-image: url('#{$image}bkg-2.png');
    }

    .background.look-out {
        background-image: url('#{$image}bkg-4.png');
    }

    .background.feel {
        background-image: url('#{$image}bkg-5.png');
    }

    .background.movie {
        background-image: url('#{$image}bkg-6.png');
    }

    .background.upload {
        background-image: url('#{$image}bkg-7.png');
    }

    .background.flip {
        background-image: url('#{$image}bkg-8.png');
    }

    &.SCREEN-2:not(.MENU-quit) > .background.excel,
    &.SCREEN-4:not(.MENU-quit) > .background.look-out,
    &.SCREEN-5:not(.MENU-quit) > .background.look-out,
    &.SCREEN-6:not(.MENU-quit) > .background.feel,
    &.SCREEN-7:not(.MENU-quit) > .background.movie,
    &.SCREEN-8:not(.MENU-quit) > .background.movie,
    &.SCREEN-9:not(.MENU-quit) > .background.flip {
        opacity: 1;
    }

    &.MENU-quit {
        .screen {
            opacity: 0;
        }
    }
}

// this is to pre-load assets
#asset-bin {
    display: none;
}

button {
    margin: 0;
    outline: none;
    border: 0;

    background-color: transparent;
    background-image: url('#{$sprite}bu-1.png');
    background-position: left top;
    background-size: auto 250px;

    cursor: pointer;
    padding: 0;
    color: transparent;
    font-family: inherit;
    font-size: inherit;

    &.close {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 2;
        margin: 5px;
        background-position: -436px 214px;
        width: 40px;
        height: 40px;

        &:hover {
            background-position: -436px 83px;
        }
    }

    &.next-screen,
    &.prev-screen {
        width: 100px;
        height: 80px;
    }

    &.next-screen {
        background-position: -310px 484px;

        &:hover {
            background-position: -310px 604px;
        }
    }

    &.prev-screen {
        background-position: -195px 484px;

        &:hover {
            background-position: -195px 604px;
        }
    }

    &.quit-yes {
        background-position: 330px 490px;
        width: 170px;
        height: 90px;

        &:hover {
            background-position: 330px 360px;
        }
    }

    &.quit-no {
        background-position: 170px 490px;
        width: 170px;
        height: 90px;

        &:hover {
            background-position: 170px 360px;
        }
    }

    &.close-reveal {
        background-position: -503px 463px;
        width: 40px;
        height: 40px;

        &:hover {
            background-position: -503px 333px;
        }
    }
}

h2 {
    font-size: 50px;
}

h3 {
    margin: 0;
    font-size: 36px;
}

p {
    margin: 0;
    font-size: 28px;
}

.canvas-src { display: none; }

.screen {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateX(100%);
    transition: opacity 1s, transform .5s;
    opacity: 0;
}

.screen.OPEN {
    transform: translateX(0);
    opacity: 1;
}

.screen.READY {
    display: block;
}

.screen.LEAVE {
    transform: translateX(-100%);
    opacity: 1;
}

.screen .next-screen,
.screen .prev-screen {
    display: block;
    position: absolute;
    bottom: 1%;
    z-index: 2;
}

.screen .next-screen {
    right: 0;
    transform: rotate(-180deg);
    transition: opacity 1s, transform 1s;
    opacity: 0;
    margin-right: 5px;
}

.screen.GATED .next-screen {
    opacity: 0;
    cursor: default;
}

.pl-game.DEMO .screen .next-screen,
.screen.COMPLETE .next-screen,
.screen.REPLAY .next-screen {
    transform: rotate(0deg);
    opacity: 1;
    cursor: pointer;
}

.screen .prev-screen {
    left: 0;
    margin-left: 5px;
}

.screen {
    &.no-frame {
        color: $white;

        .frame {
            text-align: center;
        }
    }
}

.SFX:not(.DEMO),
.VOICE-OVER:not(.DEMO) {
    #roles > div,
    #feel > div {
        pointer-events: none;
    }
}

.VOICE-OVER:not(.DEMO) {
    .reveal {
        .close-reveal {
            visibility: hidden;
        }
    }
}

// the following css is specific to this game

.frame {
    position: relative;
    text-align: center;

    .background {
        top: 0;
        left: 0;
        opacity: 1;
        z-index: -1;
        width: 100%;
        height: 100%;
    }
}

.frame {
    .center {
        overflow: hidden;

        .content-group {
            overflow: visible;

            div {
                position: absolute;
                top: 0;
                left: 0;
                margin: 0;
                width: 100%;
                height: 100%;
            }
        }
    }

    .frame {
        position: relative;
        width: 960px;
        height: 200px;

        img.background {
            position: absolute;
            left: -2.5%;
            opacity: 1;
            width: 105%;
        }
    }
}

#title {
    text-align: center;

    button {
        &.prev-screen {
            display: none;
        }

        &.next-screen {
            right: 100px;
            bottom: 80px;
            background-position: -10px 494px;
            width: 180px;
            height: 100px;

            &:hover {
                background-position: -10px 614px;
            }
        }
    }


    img {
        display: inline-block;
        margin: 60px auto;
        width: 800px;
    }

    &.OPEN {
        img {
            animation-name: rubberBand;
        }
    }
}

#excel {
    .frame {
        margin-bottom: 520px;
        margin-left: 200px;
        width: 680px;
        height: 240px;

        p {
            padding: 50px 40px 40px;
            line-height: 32px;
            font-size: 28px;
        }
    }
}

#roles {
    position: relative;
    top: 50%;
    margin-top: -270px;
    background-image: url('#{$image}bkg-3.png');
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: contain;
    width: 960px;
    height: 540px;
    overflow: hidden;

    canvas {
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
    }

    .selectable-canvas {
        display: block;
        position: relative;
        margin: 0;
        padding: 0;
        width: 960px;
        height: 540px;
        list-style: none;

        li {
            position: static;

            img {
                top: auto;
                right: auto;
                bottom: auto;
                left: auto;
            }

            &:nth-of-type(1) img {
                bottom: 0;
                left: 0;
                width: 240px;
            }

            &:nth-of-type(2) img {
                bottom: 9px;
                left: 174px;
                width: 183px;
            }

            &:nth-of-type(3) img {
                bottom: 165px;
                left: 65px;
                width: 332px;
            }

            &:nth-of-type(4) img {
                bottom: -24px;
                left: 314px;
                width: 285px;
            }

            &:nth-of-type(5) img {
                bottom: -5px;
                left: 523px;
                width: 215px;
            }

            &:nth-of-type(6) img {
                bottom: -4px;
                left: 692px;
                width: 255px;
            }

            img {
                position: absolute;
                transition: opacity .5s;
                opacity: 0;
                z-index: 1;
            }

            &.HIGHLIGHTED img {
                opacity: 1;
            }

            &.ACTIVE {

                &::before {
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: 2;
                    background-color: $transparent-black;
                    width: 100%;
                    height: 100%;
                    content: '';
                }

                img {
                    z-index: 2;
                }
            }
        }
    }

    .reveal {
        position: absolute;
        top: 0;
        left: 0;

        .close-reveal {
            position: absolute;
            top: 70px;
            right: 70px;
            opacity: 1;
            z-index: 2;
        }

        > div > .close-reveal {
            display: none;
        }

        div {
            position: static;
            background: none;
        }

        ul {
            position: static;
            margin: 0;

            li {
                position: absolute;
                top: 0;
                transition: z-index 0s .5s;
                opacity: 0;
                z-index: -1;
                width: 100%;
                height: 100%;
                text-align: center;
                line-height: 40px;
                font-size: 34px;

                span {
                    color: $black;
                }

                div {
                    position: absolute;
                    top: 0;
                }

                img:not(.background) {
                    display: block;
                    margin: 0 auto;
                    height: 70px;
                }

                .background {
                    position: absolute;
                    top: 0;
                    left: 0;
                    opacity: 1;
                    z-index: -1;
                    width: 100%;
                    height: 100%;
                }

                &.OPEN {
                    transition: z-index 0s;
                    opacity: 1;
                    z-index: 2;
                }

                &:nth-of-type(1) div {
                    margin: 130px 140px;
                    padding: 100px 70px 50px 50px;
                    width: 640px;
                    height: 280px;

                    button {
                        top: 60px;
                        right: 60px;
                    }
                }

                &:nth-of-type(2) {
                    background: none;
                    line-height: 30px;
                    font-size: 25px;

                    div {
                        margin: 0 110px;
                        padding: 40px 45px 50px 100px;
                        width: 650px;
                        height: 260px;
                    }

                    button {
                        top: 35px;
                        right: 45px;
                    }
                }

                &:nth-of-type(3) {
                    background: none;
                    line-height: 28px;
                    font-size: 25px;

                    div {
                        margin: 0 150px;
                        padding: 20px 35px 100px;
                        width: 580px;
                        height: 310px;
                    }

                    .close-reveal {
                        top: 40px;
                        right: 35px;
                    }
                }

                &:nth-of-type(4) {
                    background: none;
                    line-height: 30px;
                    font-size: 25px;

                    div {
                        margin: 190px 100px;
                        padding: 30px 40px 30px 30px;
                        width: 570px;
                        height: 260px;
                    }

                    .close-reveal {
                        top: 65px;
                        right: 40px;
                    }
                }

                &:nth-of-type(5) {
                    background: none;
                    line-height: 30px;
                    font-size: 22px;

                    div {
                        margin: 20px 0;
                        padding: 50px 60px 40px 30px;
                        width: 460px;
                        height: 350px;
                    }

                    .close-reveal {
                        top: 35px;
                        right: 65px;
                    }
                }

                &:nth-of-type(6) {
                    background: none;
                    line-height: 27px;
                    font-size: 20px;

                    div {
                        margin: 0 30px;
                        padding: 50px 40px 60px;
                        width: 580px;
                        height: 290px;
                    }

                    .close-reveal {
                        top: 35px;
                        right: 40px;
                    }
                }

                &:nth-of-type(7) {
                    background: none;
                    line-height: 24px;
                    font-size: 20px;

                    div {
                        margin: 0 240px;
                        padding: 50px 90px 30px 40px;
                        width: 550px;
                        height: 260px;
                    }

                    .close-reveal {
                        top: 35px;
                        right: 90px;
                    }
                }
            }
        }
    }

    .close-reveal {
        transition: opacity .5s;
        opacity: 0;
        cursor: auto;
    }

    .OPEN {
        .close-reveal {
            opacity: 1;
            cursor: pointer;
        }
    }
}

.DEMO {
    .screen.roles {
        .OPEN {
            .close-reveal {
                opacity: 1;
                cursor: pointer;
            }
        }
    }
}

#look-out {
    .frame {
        margin-top: 40px;
        margin-left: 300px;
        width: 500px;
        height: 400px;

        p {
            padding: 90px 40px 40px;
            line-height: 40px;
            font-size: 36px;
        }
    }
}

#feel {
    .frame {
        img {
            width: 960px;
        }
    }

    .selectable {
        display: block;
        margin: 20px 0 20px auto;
        width: 500px;
        text-align: left;

        li {
            display: inline-block;
            margin-top: 8px;
            margin-right: 20px;
            background-repeat: no-repeat;
            background-size: auto 100%;
            cursor: pointer;
            height: 50px;

            &:nth-of-type(1) {
                background-image: url('#{$sprite}img-6-2.png');
                width: 100px;

                &.HIGHLIGHTED,
                &:hover {
                    background-position: -100px 0;
                }
            }

            &:nth-of-type(2) {
                background-image: url('#{$sprite}img-6-3.png');
                width: 130px;

                &.HIGHLIGHTED,
                &:hover {
                    background-position: -125px 0;
                }
            }

            &:nth-of-type(3) {
                background-image: url('#{$sprite}img-6-4.png');
                width: 180px;

                &.HIGHLIGHTED,
                &:hover {
                    background-position: -180px 0;
                }
            }

            &:nth-of-type(4) {
                margin-left: 45px;
                background-image: url('#{$sprite}img-6-5.png');
                width: 175px;

                &.HIGHLIGHTED,
                &:hover {
                    background-position: -173px 0;
                }
            }

            &:nth-of-type(5) {
                background-image: url('#{$sprite}img-6-11.png');
                width: 175px;

                &.HIGHLIGHTED,
                &:hover {
                    background-position: -172px 0;
                }
            }

            &:nth-of-type(6) {
                margin-left: 135px;
                background-image: url('#{$sprite}img-6-6.png');
                width: 140px;

                &.HIGHLIGHTED,
                &:hover {
                    background-position: -140px 0;
                }
            }

            &:nth-of-type(7) {
                background-image: url('#{$sprite}img-6-10.png');
                width: 165px;

                &.HIGHLIGHTED,
                &:hover {
                    background-position: -162px 0;
                }
            }

            &:nth-of-type(8) {
                margin-left: 165px;
                background-image: url('#{$sprite}img-6-7.png');
                width: 125px;

                &.HIGHLIGHTED,
                &:hover {
                    background-position: -119px 0;
                }
            }

            &:nth-of-type(9) {
                background-image: url('#{$sprite}img-6-9.png');
                width: 145px;

                &.HIGHLIGHTED,
                &:hover {
                    background-position: -138px 0;
                }
            }

            &:nth-of-type(10) {
                margin-left: 220px;
                background-image: url('#{$sprite}img-6-8.png');
                width: 200px;

                &.HIGHLIGHTED,
                &:hover {
                    background-position: -199px 0;
                }
            }
        }
    }
}

#move {
    .frame {
        position: relative;
        margin: 0 auto;
        padding: 120px 80px;
        width: 800px;
        height: 500px;
        box-sizing: border-box;

        p {
            font-size: 36px;
        }

        img:not(.background) {
            margin-bottom: 60px;
            width: 100%;
        }
    }

    .next-screen {
        right: 375px;
        bottom: 150px;
        background-position: -560px 235px;
        width: 200px;
        height: 80px;

        &:hover {
            background-position: -560px 104px;
        }
    }
}

#flip {
    .frame {
        margin: 0 60px 0 auto;
        padding: 100px 80px;
        width: 500px;
        height: 540px;
        box-sizing: border-box;

        p {
            line-height: 40px;
            font-size: 36px;
        }

        .flip {
            transition: opacity .5s;
            opacity: 0;
            margin-top: 30px;
            width: 90%;

            &.in {
                animation-name: rubberBand;
                opacity: 1;
            }
        }
    }
}

#quit {

    .frame {
        background-image: url('#{$frame}fr-10.png');
        background-repeat: no-repeat;
        background-size: contain;
        padding: 100px 80px;
        width: 740px;
        height: 540px;
        text-align: center;
        box-sizing: border-box;

        h2 {
            margin: 0;
        }

        h3 {
            margin: 20px 0 10px;
        }

        button {
            margin: 20px 10px;
        }
    }
}

