$media: $media-server + 'games/meerkat-mania/';
$sprite: $media + 'sprites-animations/';
$image: $media + 'image-assets/';
$frame: $media + 'frames/';
$font: $media + 'fonts/';

$brown: #452914;
$white: #fff;
$black: #000;
$transparent-black: rgba(0, 0, 0, .4);
