.screen {}

  .screen button.close {
    position: relative;
    float: right;
    border: none;

    font-size: 2em;
    z-index: 1;
  }

  .screen button.close:active{
    transform: scale(0.8);
  }
